*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: unset;
}
header{
    margin: 0;
    width: 100%;
    padding: 0;
    position: relative;
}
body{
    background-image: url(novibckgrnd.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    background-attachment:fixed;
}
.sve{
    background-color: rgba(31, 34, 34, 0.4);
}

a{
    text-decoration: none;
    color: aliceblue;
}
#navmain{
    font-family: 'Raleway',sans-serif;
}
.menu{
    float: right;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav{
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    margin-top: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
nav h1{
    margin-top:24px;
    color: black;
    margin-left: 20px;
    float: left;
    font-size: 22px;
}
nav ul{
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    list-style-type: none;

}

nav ul li{
    margin-top:22px;
    color: black;
    float: right;
    font-size: 22px;
    margin: 20px;
    transition: 0.5s;
    cursor: pointer;
}
nav ul li a{
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
nav ul li:hover{
    color:goldenrod;
    text-decoration: underline;
    cursor: pointer;
}
nav ul li:active{
    color: rgb(92, 102, 111);
}
nav::after{
    content: "";
    clear: both;
    display: table;
    color: black;
}
.menu{
    color: black;
}
.menu:hover{
    color: rgb(92, 102, 111);
    transition: 0.5s;
    cursor: pointer;
}
@media screen and (max-width:860px){
    nav{
        clear: both;
    }
    nav ul{
        clear: both;
        color: black;
        display: none;
    }
    nav ul li{
        clear: both;
        color: black;
        width: 100%;
        text-align: center;
        margin: 2px;
    }
    .menu{
        display: block;
        color: black;
    }
    nav ul li:hover{
        color:goldenrod;
        cursor: pointer;
    }

}
#naslov{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-anchor: middle;
    font-size: 70px;
    text-shadow: 1px 1px black;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#podnaslov{
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 25px;
    color: aliceblue;
}
@media screen and (max-width:770px){
    #naslov{
        font-size: 55px;
    }
    #podnaslov{
        font-size: 17px;
    }
}
#konverter{
    height: auto; 
}
.tabela{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color:white;
    text-shadow: 1px 1px black;
    margin-top:260px;
}
.hdng{
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    color:white;
    text-shadow: 1px 1px black;
}
#medalja{
    height: 120px;
    width: 120px;
}
#struja{
    height: 120px;
    width: 120px;
}
#graf{
    height: 120px;
    width: 120px;
}
#krug{
    height: 120px;
    width: 135px;
}
.hdng:hover{
    color:goldenrod;
    transition: 0.5s;
}
#a1:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
#a2:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
#a3:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
#a4:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
.slicice{
    margin-top: -150px;
}
.pdtekst{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    color: aliceblue;
    font-size: 45px;
    text-shadow: 1px 1px black;
}
.ddtekst{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: aliceblue;
    font-size: 45px;
    text-shadow: 1px 1px black;
}
.tdtekst{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    color: aliceblue;
    font-size: 45px;
    text-shadow: 1px 1px black;
}
.pdtekst:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
.ddtekst:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
.tdtekst:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
.pddtekst{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    color: aliceblue;
    font-size: 25px;
    text-shadow: 1px 1px black;
}
.dddtekst{
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: aliceblue;
    font-size: 25px;
    text-shadow: 1px 1px black;
}
.tddtekst{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    color: aliceblue;
    font-size: 25px;
    text-shadow: 1px 1px black;
}
.pddtekst:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
.dddtekst:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
.tddtekst:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
.slikaprvidiv{
    /*background-image: url(slikediv/euros.jpg);*/
    width: 250px;
    height: 250px;
}
.slikadrugidiv{
    /*background-image: url(slikediv/Mtel-online-dopuna-racuna.png);*/
    width: 280px;
    height: 250px;
}
.slikatrecidiv{
    /*background-image: url(slikediv/newspaper.jpg);*/
    width: 250px;
    height: 250px;

}
#kontakt{
    width: 90%;
    height: 600px;
    margin:0 auto;
    padding-bottom: 20px;
}
#naslovikontakt{
    text-align: center;
}
#joskioska{
    margin-top:20px;
    width: 80%;
}
#kontaktnaslov{
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 45px;
    text-shadow: 1px 1px black;
}
#kontaktpodnaslov{
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 25px;
    text-shadow: 1px 1px black;
}
#kontaktnaslov:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
#kontaktpodnaslov:hover{
    color:rgb(218, 165, 32);
    transition: 0.5s;
    cursor: pointer;
}
#mail{
    height: 55px;
    width: 55px;
    background-color: goldenrod;
}
#telefon{
    height: 55px;
    width: 55px;
    background-color: black;
}
#karta{
    height:400px; 
    width: 100%;
}
@media screen and (max-width:1015px){
    .tabela{
        font-size: 18px;
    }
    .pdtekst{
        font-size: 30px;
    }
    .pddtekst{
        font-size: 18px;
    }
    .ddtekst{
        font-size: 30px;
    }
    .dddtekst{
        font-size: 18px;
    }
    .tdtekst{
        font-size: 30px;
    }
    .tddtekst{
        font-size: 18px;
    }
    #kontaktnaslov{
        font-size: 30px;
    }
    #kontaktpodnaslov{
        font-size:20px;
    }
}
@media screen and (max-width:798px){
    .pdtekst{
        font-size: 25px;
    }
    .pddtekst{
        font-size: 15px;
    }
    .ddtekst{
        font-size: 25px;
    }
    .dddtekst{
        font-size: 15px;
    }
    .tdtekst{
        font-size: 25px;
    }
    .tddtekst{
        font-size: 15px;
    }
    #kontaktnaslov{
        font-size: 25px;
    }
    #kontaktpodnaslov{
        font-size:15px;
    }
}
@media screen and (max-width:625px){
    .pdtekst{
        font-size: 23px;
    }
    .pddtekst{
        font-size: 13px;
    }
    .ddtekst{
        font-size: 23px;
    }
    .dddtekst{
        font-size: 13px;
    }
    .tdtekst{
        font-size: 23px;
    }
    .tddtekst{
        font-size: 13px;
    }
    #kontaktnaslov{
        font-size: 23px;
    }
    #kontaktpodnaslov{
        font-size:13px;
    }
}
@media screen and (max-width:600px){
    .hdng{
        font-size: 10px;
    }
    .tabela{
        font-size: 14px;
    }
}
@media screen and (max-width:535px){
    .pdtekst{
        font-size: 20px;
    }
    .pddtekst{
        font-size: 12px;
    }
    .ddtekst{
        font-size: 20px;
    }
    .dddtekst{
        font-size: 12px;
    }
    .tdtekst{
        font-size: 20px;
    }
    .tddtekst{
        font-size: 12px;
    }
    #kontaktnaslov{
        font-size: 20px;
    }
    #kontaktpodnaslov{
        font-size:12px;
    }
}
@media screen and (max-width:470px){
    .pdtekst{
        font-size: 16px;
    }
    .pddtekst{
        font-size: 11px;
    }
    .ddtekst{
        font-size: 16px;
    }
    .dddtekst{
        font-size: 11px;
    }
    .tdtekst{
        font-size: 16px;
    }
    .tddtekst{
        font-size: 11px;
    }
    .tabela{
        font-size:12px;
    }
    #kontaktnaslov{
        font-size: 17px;
    }
    #kontaktpodnaslov{
        font-size:12px;
    }
}
@media screen and (max-width:366px){
    .pdtekst{
        font-size: 14px;
    }
    .pddtekst{
        font-size: 12px;
    }
    .ddtekst{
        font-size: 14px;
    }
    .dddtekst{
        font-size: 12px;
    }
    .tdtekst{
        font-size: 14px;
    }
    .tddtekst{
        font-size: 12px;
    }
    #kontaktnaslov{
        font-size: 15px;
    }
    #kontaktpodnaslov{
        font-size:10px;
    }
}
@media screen and (max-width:1090px){
    .slikaprvidiv{
        height: 230px;
        width: 230px;
    }
    .slikadrugidiv{
        height: 230px;
        width: 260px;
    }
    .slikatrecidiv{
        height: 230px;
        width: 230px;
    }
}
@media screen and (max-width:1000px){
    .slikaprvidiv{
        height: 210px;
        width: 210px;
    }
    .slikadrugidiv{
        height: 210px;
        width: 240px;
    }
    .slikatrecidiv{
        height: 210px;
        width: 210px;
    }
}
@media screen and (max-width:800px){
    .slikaprvidiv{
        height: 190px;
        width: 190px;
    }
    .slikadrugidiv{
        height: 190px;
        width: 220px;
    }
    .slikatrecidiv{
        height: 190px;
        width: 190px;
    }
}
@media screen and (max-width:650px){
    .slikaprvidiv{
        height: 170px;
        width: 170px;
    }
    .slikadrugidiv{
        height: 170px;
        width: 200px;
    }
    .slikatrecidiv{
        height: 170px;
        width: 170px;
    }     
    #naslov{
        font-size:45px;
    }
}
@media screen and (max-width:550px){
    .slikaprvidiv{
        height: 150px;
        width: 150px;
    }
    .slikadrugidiv{
        height: 150px;
        width: 180px;
    }
    .slikatrecidiv{
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width:450px){
    .slikaprvidiv{
        height: 130px;
        width: 130px;
    }
    .slikadrugidiv{
        height: 130px;
        width: 160px;
    }
    .slikatrecidiv{
        height: 130px;
        width: 130px;
    }
}
@media screen and (max-width:370px){
    #naslov{
        font-size:38px;
    }
    #podnaslov{
        font-size:14px;
    }
    .slikaprvidiv{
        height: 110px;
        width: 110px;
    }
    .slikadrugidiv{
        height: 110px;
        width: 140px;
    }
    .slikatrecidiv{
        height: 110px;
        width: 110px;
    }
}
@media screen and (max-width:360px){
    .slikaprvidiv{
        height: 95px;
        width: 95px;
    }
    .slikadrugidiv{
        height: 95px;
        width: 125px;
    }
    .slikatrecidiv{
        height: 95px;
        width: 95px;
    }
    .pdtekst{
        font-size: 12px;
    }
    .pddtekst{
        font-size: 10px;
    }
    .ddtekst{
        font-size: 12px;
    }
    .dddtekst{
        font-size: 10px;
    }
    .tdtekst{
        font-size: 12px;
    }
    .tddtekst{
        font-size: 10px;
    }
    #kontaktnaslov{
        font-size: 13px;
    }
    #kontaktpodnaslov{
        font-size:10px;
    }
}
@media screen and (max-width:400px){
    .tabela{
        margin-top:150px;
    }
}
@media screen and (max-width:836px){
    #medalja{
        width: 80px;
        height: 80px;
    }
    #struja{
        width: 80px;
        height: 80px;
    }
    #graf{
        width: 80px;
        height: 80px;
    }
    #krug{
        width: 90px;
        height: 80px;
    }
}
@media screen and (max-width:360px){
    #medalja{
        width: 60px;
        height: 60px;
    }
    #struja{
        width: 60px;
        height: 60px;
    }
    #graf{
        width: 60px;
        height: 60px;
    }
    #krug{
        width: 70px;
        height: 60px;
    }
}
@media screen and (max-width:930px){
    #karta{
        height: 300px;
    }
    #mail{
        height:45px;
        width:45px;
    }
    #telefon{
        height:45px;
        width:45px;
    }
    #kontakt{
        height:470px;
    }
}
@media screen and (max-width:800px){
    #karta{
        height: 250px;
    }
    #kontakt{
        height:400px;
    }
}
@media screen and (max-width:800px){
    #telefon{
        height:40px;
        width:40px;
    }
    #mail{
        height:40px;
        width:40px;
    }
}
@media screen and (max-width:450px){
    #karta{
        height:200px;
    }
}

@media screen and (max-width:400px){
    #mail{
        height:30px;
        width:30px;
    }
    #telefon{
        height:30px;
        width:30px;
    }
    #kontakt{
        height: 380px;
    }
}
@media screen and (max-width:370px){
    #kontakt{
        height: 360px;
    }
}
@media screen and (max-width:340px){
    .tabela{
        margin-top:100px;
    }
}
@media screen and (max-width:400px){
    nav h1{
        font-size:20px;
    }
}
/*nakon resizeanja prozora se izgubi meni skroz, kad se stisne jedno dugme,
ali samo nakon koristenja burgera*/